body {
    background: linear-gradient(0.25turn, aquamarine, #ebf8e1, #f69d3c);
    font-size: 20px;
    font-family: monospace;
    padding: 1em;
}

#header{
    background: pink;
}

#header h1{
    color: black;
}
